<a href="https://colab.research.google.com/github/RichardZambrano05/InteligenciaArtificial/blob/main/Practica1_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print (sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNomber= 3
myNomberDecimal=3.6
state=True

In [ ]:
print(f'valor entero: {myNomber}')
print('valor entero es = ',myNomber)

valor entero: 3
valor entero es =  3

In [ ]:
print(f'valor decimal: {myNomberDecimal}')
print('valor decimal es = ',myNomberDecimal)

valor decimal: 3.6
valor decimal es =  3.6

In [ ]:
print(f'valor booleano: {state}')
print('valor booleano es = ',state)

valor booleano: True
valor booleano es =  True

In [ ]:
aux1=10
aux2=2
print('La suma de las varibales aux1 + aux2 =',aux1+aux2)

La suma de las varibales aux1 + aux2 = 12

In [ ]:
aux1=10
aux2=2
print('La resta de las varibales aux1 - aux2 =',aux1-aux2)

La resta de las varibales aux1 - aux2 = 8

In [ ]:
aux1=10
aux2=2
print('La multiplicacion de las varibales aux1 * aux2 =',aux1*aux2)

La multiplicacion de las varibales aux1 * aux2 = 20

In [ ]:
aux1=10
aux2=2
print('La potencia de las varibales aux1 ** aux2 =',aux1**aux2)

La potencia de las varibales aux1 ** aux2 = 100

In [ ]:
var1='Hola'
var2='Richard'
print(var1 + var2)

HolaRichard

In [ ]:
print(3*var1)

HolaHolaHola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('El tipo de el numero1 es: ',type(num1))

El tipo de el numero1 es:  <class 'int'>

In [ ]:
print('El tipo de el numero2 es: ',type(num2))

El tipo de el numero2 es:  <class 'float'>

In [ ]:
tmp=list()
tmp.append(2)
print(tmp)
tmp.append('Richard')
print(tmp)
tmp.append('Zambrano')
print(tmp)
tmp.append(10)
print(tmp)
print(tmp[3])
aux=tmp[2]
#aux.capitalize()
#print(aux.capitalize())
print(aux.upper())
tmp1='hello'
print(tmp1.capitalize())

aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)
aux1[4]=10
print(aux1)
print(aux1[-1])
print(aux1[3:7])
print(aux1[0:4])
print(aux1[:5])

aux2=list()
for i in range(100):
  aux2.append(i)
print(aux2[:20])

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx])
print(aux3)

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==1:
    aux3.append(aux2[indx])
print(aux3)

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx]**2)
print(aux3)

animals=['cat', 'dog', 'monky', 'rabbit']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10)]
print(tmp3)

tmp3=[ i**2 for i in range(10) if i%2==0]
print(tmp3)

[2]
[2, 'Richard']
[2, 'Richard', 'Zambrano']
[2, 'Richard', 'Zambrano', 10]
10
ZAMBRANO
Hello
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10, 6, 7]
[1, 2, 3, 4]
[1, 2, 3, 4, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]
cat
dog
monky
rabbit
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'car':'cute', 'cat':'beatifull', 'dog':'big', 'chiken':'yellow', 'color':'black'}
print(myDictionary['color'])
myDictionaryAux={'monkey':'black', 'mouse':'small', 'rabbit':'white'}
myDictionary.update(myDictionaryAux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f'key : {key} Value: {value}')

myList=[1,2,3,4,5,6]
myDictionaryAux1={x:x**2 for x in myList}
print(myDictionaryAux1)

black
{'car': 'cute', 'cat': 'beatifull', 'dog': 'big', 'chiken': 'yellow', 'color': 'black', 'monkey': 'black', 'mouse': 'small', 'rabbit': 'white'}
key : car Value: cute
key : cat Value: beatifull
key : dog Value: big
key : chiken Value: yellow
key : color Value: black
key : monkey Value: black
key : mouse Value: small
key : rabbit Value: white
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var1-var2
    #resta
  return tmp




num1=5
num2=7
control=True
print(suma(num1, num2,control))

12

In [ ]:
listNumeros=[-1,+1,0]
def numero_positivo_negativo(numero1):
  if numero1 > 0:
    return 'positivo'
  elif numero1 < 0:
    return 'negativo'
  else:
    return 'no tiene signo'

for numero1 in listNumeros:
  print(f'El numero {numero1} es {numero_positivo_negativo(numero1)}')

El numero -1 es negativo
El numero 1 es positivo
El numero 0 es no tiene signo

In [ ]:
var1=set()
var1.add(5)
print(var1)
var1.add('Eduardo')
var1.add(True)
print(var1)
var1.add('Richard')
var1.add(3)
print(var1)
var1.remove('Eduardo')
print(var1)

print(len(var1))
print(3 in var1)

for elem in var1:
  print(elem)

{5}
{True, 5, 'Eduardo'}
{True, 3, 5, 'Eduardo', 'Richard'}
{True, 3, 5, 'Richard'}
4
True
True
3
5
Richard

In [ ]:
#TUPLES
# Rename the variable 'var' to something else, like 'my_tuple'
my_tuple=(1,2,3,4,5)
print(type(my_tuple))
var2=tuple() # This should now work correctly
var_modificada = my_tuple[:3] + (11,) + my_tuple[4:]
print(var_modificada)

aux=list(my_tuple)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>

TypeError: 'tuple' object is not callable

In [ ]:
#HOW TO DEFINE A CLASS
class saludo(object):
  def __init__(self,name):
    print('The object has been created')
    self.name=name

  def saludoPersonal(self):
    return f"Hola, {self.name}"


name1=saludo('Richard')
name2=saludo('Eduardo')
name3=saludo('Zambrano')

print(name1.saludoPersonal())

The object has been created
The object has been created
The object has been created
Hola, Richard

In [ ]:
class circulo():
  def __init__(self, radio):
        self.radio = radio
  def calcular_area(self):
        area = 3.14159 * (self.radio ** 2)
        return area
  def __init__(self, lado):
        self.lado = lado

  def calcular_area(self):
        area = self.lado ** 2
        return area

  def __init__(self, base, altura):
        self.base = base
        self.altura = altura

  def calcular_area(self):
        area = 0.5 * self.base * self.altura
        return area

circulo1 = circulo(4)
cuadrado1 = circulo(5)
triangulo1 = circulo(6, 4)
area_circulo = circulo1.calcular_area()
area_cuadrado = cuadrado1.calcular_area()
area_triangulo = triangulo1.calcular_area()

#print(f"El área del círculo con radio {circulo1.radio} es: {area_circulo}")
#print(f"El área del cuadrado con lado {cuadrado1.lado} es: {area_cuadrado}")
print(f"El área del triángulo con base {triangulo1.base} y altura {triangulo1.altura} es: {area_triangulo}")

TypeError: circulo.__init__() missing 1 required positional argument: 'altura'

In [ ]:
import math

class FiguraGeometrica:
  def __init__(self, radio, base, altura):
     self.radio = radio
     self.base = base
     self.altura = altura

  def calcularAreaCirculo(self):
    areaCirculo = math.pi * self.radio **2
    return areaCirculo

figura = FiguraGeometrica(radio=5, base=6, altura=4)
areaCirculo = figura.calcularAreaCirculo()
print(f'{areaCirculo:.2f}')

78.54

In [ ]:
class printingNameAge(object):
  def __init__(self, name, age):
    print(f"The object has been created")
    self.name=name
    self.age=age

  def printUppercase():
    return f"Name: {self.name.upper()} and the Age: {self.age}"

student=printingNameAge('eduardo',24)
print(student.printUppercase())

The object has been created

TypeError: printingNameAge.printUppercase() takes 0 positional arguments but 1 was given

In [ ]:
class Calculadora:
    def __init__(self, numero1, numero2): # Fixed the typo here
        self.numero1 = numero1
        self.numero2 = numero2

    def sumar(self):
        resultado = self.numero1 + self.numero2
        print(f"{self.numero1} + {self.numero2} = {resultado}")
        self.es_par(resultado)

    def restar(self):
        resultado = self.numero1 - self.numero2
        print(f"{self.numero1} - {self.numero2} = {resultado}")
        self.es_par(resultado)

    def multiplicar(self):
        resultado = self.numero1 * self.numero2
        print(f"{self.numero1} * {self.numero2} = {resultado}")
        self.es_par(resultado)

    def dividir(self):
        if self.numero2 == 0:
            print("Error: división por cero")
        else:
            resultado = self.numero1 / self.numero2
            print(f"{self.numero1} / {self.numero2} = {resultado}")
            self.es_par(resultado)

    def es_par(self, numero):
        if numero % 2 == 0:
            print(f"{numero} es par")
        else:
            print(f"{numero} es impar")

# Ejemplo de uso
calculadora = Calculadora(10, 5)

calculadora.sumar()
calculadora.restar()
calculadora.multiplicar()
calculadora.dividir()

10 + 5 = 15
15 es impar
10 - 5 = 5
5 es impar
10 * 5 = 50
50 es par
10 / 5 = 2.0
2.0 es par